<div id="add-favorites-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>You have successfully added this ad to favorites!</h5>
            </div>
        </div>
    </div>
</div>
