<div id="modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-message"></h5>
            </div>
        </div>
    </div>
</div>