@model SendMessageBindingModel

<div class="container-fluid">
    <div class="row">
        <div class="offset-3 col-6">
            <h3>@Model.ViewModel.AdTitle</h3>
            <hr class="hr-sell-me" />
            <h4>Your message:</h4>
            <hr class="hr-sell-me" />
            <form asp-controller="Messages" asp-action="Send" method="post">
                <div class="form-group">
                    <label asp-for="InputModel.Content">Content:</label>
                    <textarea asp-for="InputModel.Content" class="form-control" rows="5"></textarea>
                    <input asp-for="InputModel.RecipientId" type="hidden"  value="@Model.ViewModel.RecipientId" />
                    <input asp-for="InputModel.SenderId" type="hidden" value="@Model.ViewModel.SenderId"/>
                    <input asp-for="InputModel.AdId" type="hidden" value="@Model.ViewModel.AdId"/>
                </div>
                <button type="submit" class="btn btn-secondary btn-block btn-lg">Send</button>
            </form>
        </div>
    </div>
</div>