@model SentBoxMessagesBindingModel

@{
    ViewData["Title"] = "Sent Box";
}

<h3 class="text-center">Sent Box:</h3>
<hr class="hr-sell-me" />
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Messages" asp-action="Inbox">Inbox</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Sent Box</a>
            </li>
        </ul>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Sender</th>
                        <th scope="col">Ad Title</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var message in @Model.Messages)
                    {
                        var messageParams = new Dictionary<string, string>
                                        {
                                    { "senderId",  message.SenderId},
                                    { "sellerId", message.SellerId },
                                    {"adId", message.AdId.ToString() }
                                };

                        <tr>
                            <td>@message.Sender</td>
                            <td><a asp-controller="Messages" asp-action="Details" asp-all-route-data="messageParams">@message.AdTitle</a></td>
                            <td>@message.SentOn.ToString("g")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
