@model FavoriteAdsBindingModel

<div class="row">
    <div class="col">
        <h3 class="text-center mb-4">Favorites:</h3>
        @foreach (var ad in @Model.Favorites)
        {
            <vc:favorite-ad view-model="@ad"></vc:favorite-ad>
        }
    </div>
</div>

<partial name="_AddToFavoritesModalPartial" />
<partial name="_RemoveFromFavoritesModalPartial" />

@section Scripts{
    <script src="~/js/add-to-favorites.js"></script>
}
