@model SellMe.Web.ViewModels.InputModels.Products.CreateProductInputModel
@inject IProductService ProductService

@{
    var categories = this.ProductService.GetCategoryNames();
    var conditions = this.ProductService.GetConditionsFromDb();
}

<div class="container-fluid">
    <form asp-controller="Products" asp-action="Create" method="post" class="w-50">
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Category">Choose Category</label>
                <select asp-for="Category" class="form-control">
                    <option selected="true" disabled="disabled">--Select--</option>"
                    @foreach (var category in categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Subcategory">Choose Subcategory</label>
                <select asp-for="Subcategory" class="form-control"></select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Price">Price</label>
                <input asp-for="Price" type="number" class="form-control" placeholder="Enter price">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Availability">Availability</label>
                <input asp-for="Availability" class="form-control" placeholder="Enter availability">
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Condition">Condition</label>
            <select asp-for="Condition" class="form-control">
                <option selected="true" disabled="disabled">--Select--</option>"
                @foreach (var condition in conditions)
                {
                    <option>@condition</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        </div>
        <div class="form-group">
            <p class="row ml-1">Story Image</p>
            <input asp-for="AdImage" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $('#Category').on("change",
            function () {
                var categoryName = $(this).find('option:selected').val();
                console.log(categoryName);
                $.ajax({
                    url: "GetSubcategories",
                    type: "GET",
                    data: "categoryName=" + categoryName,
                    dataType: 'json',
                    success: function (response) {
                        $("#Subcategory").empty(); //Reset subcategories
                        $("#Subcategory").append("<option>--Select--</option>");
                        $.each(response, function (key, value) {
                            $("#Subcategory").append('<option value=' + key + '>' + value.name + '</option>');
                            console.log(value.name);
                        });
                    }
                });
            });
    });
</script>

