@model  List<AdsAllViewModel>

@foreach (var ad in @Model)
{
    <div class="row justify-content-center mb-4">
        <div class="card border-dark customClass" style="width: 30rem;">
            <img class="card-img-top" src="@ad.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@ad.Title</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Price:@ad.Price</strong></li>
                    <li class="list-group-item"><strong>@ad.CategoryName/@ad.SubcategoryName</strong></li>
                </ul>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
}

