@model CreateAdInputModel
@{
    ViewData["Title"] = "Create ad";
}

<link rel="stylesheet" href="~/css/file-uploader.css" type="text/css" asp-append-version="true" />

<div class="container-fluid">
    <form asp-controller="Ads" asp-action="Create" enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="offset-2 col-8">
                <h2 class="text-center">Ad Details</h2>
                <hr class="hr-sell-me" />
                <div class="form-group">
                    <label asp-for="CreateAdDetailInputModel.Title">Title</label>
                    <input asp-for="CreateAdDetailInputModel.Title" class="form-control">
                    <span asp-validation-for="CreateAdDetailInputModel.Title" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="CreateAdDetailInputModel.CategoryId">Choose Category</label>
                        <select asp-for="CreateAdDetailInputModel.CategoryId" class="form-control">
                            <option selected="true" disabled="disabled">--Select--</option>"
                            <vc:categories-dropdown>
                            </vc:categories-dropdown>
                        </select>
                        <span asp-validation-for="CreateAdDetailInputModel.CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="CreateAdDetailInputModel.SubCategoryId">Choose Subcategory</label>
                        <select asp-for="CreateAdDetailInputModel.SubCategoryId" class="form-control"></select>
                        <span asp-validation-for="CreateAdDetailInputModel.SubCategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="CreateAdDetailInputModel.Price">Price</label>
                        <input asp-for="CreateAdDetailInputModel.Price" type="number" class="form-control" placeholder="Enter price">
                        <span asp-validation-for="CreateAdDetailInputModel.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="CreateAdDetailInputModel.Availability">Availability</label>
                        <input asp-for="CreateAdDetailInputModel.Availability" class="form-control" placeholder="Enter availability">
                        <span asp-validation-for="CreateAdDetailInputModel.Availability" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CreateAdDetailInputModel.ConditionId">Condition</label>
                    <select asp-for="CreateAdDetailInputModel.ConditionId" class="form-control">
                        <vc:conditions-dropdown>
                        </vc:conditions-dropdown>
                    </select>
                    <span asp-validation-for="CreateAdDetailInputModel.ConditionId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateAdDetailInputModel.Description">Description</label>
                    <textarea asp-for="CreateAdDetailInputModel.Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="CreateAdDetailInputModel.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="row justify-content-lg-between">
                        @for (int i = 0; i < 4; i++)
                        {
                            <div class="image mb-2" id="@("preview-picture" + i)">
                                <input type="file" asp-for="@Model.CreateAdDetailInputModel.Images" class="image-upload" />
                            </div>
                        }
                    </div>
                    <div class="row justify-content-lg-between">
                        @for (int i = 4; i < 8; i++)
                        {
                            <div class="image mb-2" id="@("preview-picture" + i)">
                                <input type="file" asp-for="@Model.CreateAdDetailInputModel.Images" class="image-upload" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-2 col-8">
                <h2 class="text-center">Contact Details</h2>
                <hr class="hr-sell-me" />
                <div class="form-group">
                    <label asp-for="CreateAdAddressInputModel.Country">Country</label>
                    <select asp-for="CreateAdAddressInputModel.Country" class="form-control">
                        <vc:countries-dropdown>
                        </vc:countries-dropdown>
                    </select>
                    <span asp-validation-for="CreateAdAddressInputModel.Country" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="CreateAdAddressInputModel.City">City</label>
                            <input asp-for="CreateAdAddressInputModel.City" class="form-control">
                            <span asp-validation-for="CreateAdAddressInputModel.City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="CreateAdAddressInputModel.Street">Street Address</label>
                            <input asp-for="CreateAdAddressInputModel.Street" class="form-control">
                            <span asp-validation-for="CreateAdAddressInputModel.Street" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="CreateAdAddressInputModel.District">District</label>
                            <input asp-for="CreateAdAddressInputModel.District" class="form-control">
                            <span asp-validation-for="CreateAdAddressInputModel.District" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="CreateAdAddressInputModel.ZipCode">Zip/Postal Code</label>
                            <input asp-for="CreateAdAddressInputModel.ZipCode" class="form-control">
                            <span asp-validation-for="CreateAdAddressInputModel.ZipCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="CreateAdAddressInputModel.PhoneNumber">Phone Number</label>
                            <input asp-for="CreateAdAddressInputModel.PhoneNumber" class="form-control">
                            <span asp-validation-for="CreateAdAddressInputModel.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="CreateAdAddressInputModel.EmailAddress">Email Address</label>
                            <input asp-for="CreateAdAddressInputModel.EmailAddress" class="form-control">
                            <span asp-validation-for="CreateAdAddressInputModel.EmailAddress" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-around">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/get-subcategories.js" asp-append-version="true"></script>
    <script src="~/js/upload-image.js" asp-append-version="true"></script>
}