@model CreateAdInputModel
@inject IConditionsService ConditionsService;
@{
    ViewData["Title"] = "Create ad";
}

@{
    var conditions = this.ConditionsService.GetConditionViewModels();
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
</nav>
<div class="container-fluid">
    <form asp-controller="Ads" asp-action="Create" enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h2 class="text-center">Ad Details</h2>
                <hr class="hr-sell-me" />
                <div class="form-group">
                    <label asp-for="CreateAdDetailInputModel.Title">Title</label>
                    <input asp-for="CreateAdDetailInputModel.Title" class="form-control">
                    <span asp-validation-for="CreateAdDetailInputModel.Title" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="CreateAdDetailInputModel.CategoryId">Choose Category</label>
                        <select asp-for="CreateAdDetailInputModel.CategoryId" class="form-control">
                            <option selected="true" disabled="disabled">--Select--</option>"
                            <vc:categories-dropdown>
                            </vc:categories-dropdown>
                        </select>
                        <span asp-validation-for="CreateAdDetailInputModel.CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="CreateAdDetailInputModel.SubCategoryId">Choose Subcategory</label>
                        <select asp-for="CreateAdDetailInputModel.SubCategoryId" class="form-control"></select>
                        <span asp-validation-for="CreateAdDetailInputModel.SubCategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="CreateAdDetailInputModel.Price">Price</label>
                        <input asp-for="CreateAdDetailInputModel.Price" type="number" class="form-control" placeholder="Enter price">
                        <span asp-validation-for="CreateAdDetailInputModel.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="CreateAdDetailInputModel.Availability">Availability</label>
                        <input asp-for="CreateAdDetailInputModel.Availability" class="form-control" placeholder="Enter availability">
                        <span asp-validation-for="CreateAdDetailInputModel.Availability" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CreateAdDetailInputModel.ConditionId">Condition</label>
                    <select asp-for="CreateAdDetailInputModel.ConditionId" class="form-control">
                        <option selected="true" disabled="disabled">--Select--</option>"
                        @foreach (var condition in conditions)
                        {
                            <option value="@condition.Id">@condition.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CreateAdDetailInputModel.ConditionId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateAdDetailInputModel.Description">Description</label>
                    <textarea asp-for="CreateAdDetailInputModel.Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="CreateAdDetailInputModel.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateAdDetailInputModel.Images">Upload images:</label>
                    @for (int i = 0; i < 3; i++)
                    {
                        <div class="row">
                            <div class="col-6">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" asp-for="CreateAdDetailInputModel.Images">
                                    <label class="custom-file-label" asp-for="CreateAdDetailInputModel.Images">Choose file</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" asp-for="CreateAdDetailInputModel.Images">
                                    <label class="custom-file-label" asp-for="CreateAdDetailInputModel.Images">Choose file</label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h2 class="text-center">Contact Details</h2>
                <hr class="hr-sell-me" />
                <div class="form-group">
                    <label asp-for="CreateAdAddressInputModel.Country">Country</label>
                    <select asp-for="CreateAdAddressInputModel.Country" class="form-control">
                        <vc:countries-dropdown>
                        </vc:countries-dropdown>
                    </select>
                    <span asp-validation-for="CreateAdAddressInputModel.Country" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="CreateAdAddressInputModel.City">City</label>
                            <input asp-for="CreateAdAddressInputModel.City" class="form-control">
                            <span asp-validation-for="CreateAdAddressInputModel.City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="CreateAdAddressInputModel.Street">Street Address</label>
                            <input asp-for="CreateAdAddressInputModel.Street" class="form-control">
                            <span asp-validation-for="CreateAdAddressInputModel.Street" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="CreateAdAddressInputModel.District">District</label>
                            <input asp-for="CreateAdAddressInputModel.District" class="form-control">
                            <span asp-validation-for="CreateAdAddressInputModel.District" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="CreateAdAddressInputModel.ZipCode">Zip/Postal Code</label>
                            <input asp-for="CreateAdAddressInputModel.ZipCode" class="form-control">
                            <span asp-validation-for="CreateAdAddressInputModel.ZipCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="CreateAdAddressInputModel.PhoneNumber">Phone Number</label>
                            <input asp-for="CreateAdAddressInputModel.PhoneNumber" class="form-control">
                            <span asp-validation-for="CreateAdAddressInputModel.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="CreateAdAddressInputModel.EmailAddress">Email Address</label>
                            <input asp-for="CreateAdAddressInputModel.EmailAddress" class="form-control">
                            <span asp-validation-for="CreateAdAddressInputModel.EmailAddress" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5"></div>
            <button type="submit" class="btn btn-dark col-2">Submit</button>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



