@model IEnumerable<UserAllViewModel>

<h3 class="text-center">Registered users:</h3>
<hr class="hr-sell-me" />
<div class="card text-center">
    <div class="card-header">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Registered On</th>
                        <th scope="col">Username</th>
                        <th scope="col">Is Confirmed</th>
                        <th scope="col">Block</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in @Model)
                {
                    <tr class="elm">
                        <td>
                            Registered On: @user.CreatedOn.ToString("MM/dd/yyyy hh:mm tt")
                        </td>
                        <td>
                            @user.Username
                        </td>
                        <td>
                            @(user.EmailConfirmed ? "Yes" : "No")
                        </td>
                        <td>
                            <button class="btn btn-danger block-user" value="@user.Id">Block</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_ModalPartial" />

@section Scripts
{
    <script>
        $(document).ready(function () {
            var elementForRemove;
            $(".elm").click(function () {
                elementForRemove = $(this);
            });

            $('.block-user').on('click',
                function () {
                    let userId = $(this).val();

                    $.ajax({
                        method: "GET",
                        url: "/Administration/Users/Block",
                        data: "userId=" + userId,
                        dataType: "json",
                        success: function () {
                            console.log(10);
                            elementForRemove.hide('slow', function () { elementForRemove.remove(); });
                            $(function () {
                                $('#modal').modal('show');
                                $('.modal-message').html('You have successfully blocked this user!');
                                $(function () {
                                    var myModal = $('#modal');
                                    clearTimeout(myModal.data('hideInterval'));
                                    myModal.data('hideInterval', setTimeout(function () {
                                        myModal.modal('hide');
                                    }, 3000));
                                });
                            });
                        }
                    });
                });
        });
    </script>
}