@model AdministrationIndexStatisticViewModel

<h3 class="text-center mb-3">Admin panel</h3>
<nav class="navbar navbar-light bg-light mb-5">
    <a class="navbar-brand" asp-area="Administration" asp-controller="Users" asp-action="All">Registered users: @Model.AllUsersCount</a>
    <a class="navbar-brand" asp-area="Administration" asp-controller="Ads" asp-action="AllActiveAds">Active ads: @Model.AllAdsCount</a>
    <a class="navbar-brand" href="#">Promoted ads: @Model.AllPromotedAdsCount</a>
</nav>
<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Menu
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a asp-area="Administration" asp-controller="Ads" asp-action="ForApproval"><i class=""></i> Waiting for approval</a>
                </li>
                <li class="list-group-item">
                    <a asp-area="Administration" asp-controller="Ads" asp-action="RejectedAds"><i class=""></i> Rejected ads</a>
                </li>
            </ul>
        </div>
    </div>
</div>