<div class="col-3">
    <div class="card">
        <div class="card-header">
            Menu
        </div>
        <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <a href="#"><i class=""></i> Waiting for approvement</a>
            </li>

        </ul>
    </div>
</div>