<div class="col-3">
    <div class="card">
        <div class="card-header">
            Menu
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a asp-area="Administration" asp-controller="Ads" asp-action="ForApproval"><i class=""></i> Waiting for approval</a>
            </li>
            <li class="list-group-item">
                <a asp-area="Administration" asp-controller="Ads" asp-action="RejectedAds"><i class=""></i> Rejected ads</a>
            </li>
        </ul>
    </div>
</div>