@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Thank you for confirming your email. You can login from <a asp-page="Login">here</a>.
    </p>
</div>
